In [1]:
import numpy as np
import pandas as pd
import pickle as pk
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
file = open('Data/vehicles_new', 'rb')
df = pk.load(file)

In [3]:
df.head

<bound method NDFrame.head of         price    year manufacturer                model  condition  \
1        8750  2013.0      hyundai               sonata  excellent
2       10900  2013.0       toyota                prius       good
5       13995  2012.0         ford                f-150       good
6        7995  2010.0    chevrolet              equinox       good
7        8995  2011.0    chevrolet             traverse       good
...       ...     ...          ...                  ...        ...
423843  29500  2015.0       toyota  tacoma trd off road   like new
423845   1600  2004.0        volvo                 xc70  excellent
423852   1600  2006.0      hyundai               sonata       fair
423853   9000  2003.0       toyota      sequoia limited  excellent
423854    700  1994.0         ford                f-150       fair

          cylinders    fuel  odometer title_status transmission drive  \
1       4 cylinders     gas   90821.0        clean    automatic   fwd
2       4 cylinders  hybrid   92800.0        clean    automatic   fwd
5       6 cylinders     gas  188406.0        clean    automatic   4wd
6       4 cylinders     gas  108124.0        clean    automatic   4wd
7       6 cylinders     gas  178054.0        clean    automatic   4wd
...             ...     ...       ...          ...          ...   ...
423843  6 cylinders     gas   75000.0        clean    automatic   4wd
423845  5 cylinders     gas  292255.0        clean    automatic   4wd
423852  6 cylinders     gas  159980.0        clean    automatic   fwd
423853  8 cylinders     gas  160000.0        clean    automatic   4wd
423854  6 cylinders     gas  212000.0        clean       manual   rwd

       paint_color
1             grey
2             blue
5             grey
6             grey
7            white
...            ...
423843        blue
423845        blue
423852        blue
423853       green
423854       green

[69923 rows x 12 columns]>

In [4]:
df.columns

Index(['price', 'year', 'manufacturer', 'model', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive',
       'paint_color'],
      dtype='object')

In [5]:
enc = OneHotEncoder(handle_unknown='ignore')
color_cat = df[['paint_color']]
color_enc = enc.fit_transform(color_cat)
color_enc

<69923x11 sparse matrix of type '<class 'numpy.float64'>'
	with 69923 stored elements in Compressed Sparse Row format>

In [6]:
enc.categories_

[array(['black', 'blue', 'brown', 'green', 'grey', 'orange', 'purple',
        'red', 'silver', 'white', 'yellow'], dtype=object)]

In [7]:
lb_bin = LabelBinarizer()
color_cat_lbn = lb_bin.fit_transform(color_enc)

In [8]:
color_enc

<69923x11 sparse matrix of type '<class 'numpy.float64'>'
	with 69923 stored elements in Compressed Sparse Row format>

In [9]:
condition_cat = df[['condition']]
condition_cat = enc.fit_transform(condition_cat)
condition_cat_lbn = lb_bin.fit_transform(condition_cat)
condition_cat_lbn

array([[1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       ...,
       [0, 1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0]])

In [10]:
df['cylinders'] = df['cylinders'].str.strip('cylinders')

In [11]:
df['paint_color'] = color_cat_lbn

In [12]:
df

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,paint_color
1,8750,2013.0,hyundai,sonata,excellent,4,gas,90821.0,clean,automatic,fwd,0
2,10900,2013.0,toyota,prius,good,4,hybrid,92800.0,clean,automatic,fwd,0
5,13995,2012.0,ford,f-150,good,6,gas,188406.0,clean,automatic,4wd,0
6,7995,2010.0,chevrolet,equinox,good,4,gas,108124.0,clean,automatic,4wd,0
7,8995,2011.0,chevrolet,traverse,good,6,gas,178054.0,clean,automatic,4wd,0
...,...,...,...,...,...,...,...,...,...,...,...,...
423843,29500,2015.0,toyota,tacoma trd off road,like new,6,gas,75000.0,clean,automatic,4wd,0
423845,1600,2004.0,volvo,xc70,excellent,5,gas,292255.0,clean,automatic,4wd,0
423852,1600,2006.0,hyundai,sonata,fair,6,gas,159980.0,clean,automatic,fwd,0
423853,9000,2003.0,toyota,sequoia limited,excellent,8,gas,160000.0,clean,automatic,4wd,0
423854,700,1994.0,ford,f-150,fair,6,gas,212000.0,clean,manual,rwd,0

In [13]:
df['conditon'] = condition_cat

In [14]:
fuel_cat = df[['fuel']]
fuel_cat = enc.fit_transform(fuel_cat)
df['fuel'] = fuel_cat

In [15]:
title_cat = df[['title_status']]
title_cat = enc.fit_transform(title_cat)
df['title_status'] = title_cat

In [16]:
make_cat = df[['manufacturer']]
make_cat = enc.fit_transform(make_cat)
df['manufacturer'] = make_cat

In [17]:
model_cat = df[['model']]
model_cat = enc.fit_transform(model_cat)
df['model'] = model_cat

In [18]:
cond_cat = df[['condition']]
cond_cat = enc.fit_transform(cond_cat)
df['condition'] = cond_cat

In [19]:
trans_cat = df[['transmission']]
trans_cat = enc.fit_transform(trans_cat)
df['transmission'] = trans_cat

In [20]:
drive_cat = df[['drive']]
drive_cat = enc.fit_transform(drive_cat)
df['drive'] = drive_cat

In [21]:
scl = StandardScaler()
odo_scale = df[['odometer']]
odo_scale = scl.fit_transform(odo_scale)
df['odometer'] = odo_scale

In [22]:
cyl_scale = df[['cylinders']]
cyl_scale = scl.fit_transform(cyl_scale)
df['cylinders'] = cyl_scale

In [23]:
y = df[['price']]
X = df.drop(columns=['price'])

In [24]:
train, test, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=42)

In [25]:
print(train.shape)
print(train_y.shape)
print(test.shape)
print(test_y.shape)

(55938, 12)
(55938, 1)
(13985, 12)
(13985, 1)

In [26]:
# from sklearn.linear_model import LinearRegression

# lin_reg = LinearRegression()
# lin_reg.fit(train, train_y)